@font-face {
    font-family: 'dune';
    src: url('/src/fonts/Dune_Rise.ttf');
}
#home .hero{
    margin-top: 140px;
}
#home .hero h1{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 900;
    height: 4rem;
    font-family: 'dune';
    position: relative;
    overflow: hidden;
}
#home .hero h1 span{
    display: block;
    transform: translate(10rem,-3.6rem);
    animation: myFrame 8S ease-out 5s  infinite alternate;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
#home .hero h1::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
@media (max-width:450px) {
    #home .hero h1{
        overflow-x: visible;
    }
}
@media (max-width:991px) {
    #home .hero h1{
        font-size: 2rem;
        height: 3rem;
    }
    #home .hero h1 span{
        display: block;
        transform: translate(7rem,-2.4rem);
        animation: myFrameMD 8S ease-out 5s  infinite alternate;
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    }
    @keyframes myFrameMD {
        0%,10%{
            transform: translate(7rem,-2.4rem)
        }
        25%{
            transform: translate(7rem,-3.4rem)
        }
        50%{
            transform: translate(7rem,-4.4rem)
        }
        75%{
            transform: translate(7rem,-5.3rem)
        }
        90%,100%{
            transform: translate(7rem,-5.3rem)
        }
    }
}
@keyframes myFrame {
    0%,10%{
        transform: translate(10rem,-3.6rem)
    }
    25%{
        transform: translate(10rem,-4.6rem)
    }
    50%{
        transform: translate(10rem,-5.6rem)
    }
    75%{
        transform: translate(10rem,-6.6rem)
    }
    90%,100%{
        transform: translate(10rem,-7.5rem)
    }

}
#home .hero h4{
    max-width: 55vw;
}
#home .btn-orange{
    background: #D9772C;
    font-size: 1.1rem;
    padding: 7px 10px;
    color: white;
    border-radius: 4px;
    transition: all ease-in 0.5s;
    border: white solid 0.7px;
    text-transform: uppercase;
    max-width: fit-content;
    letter-spacing: 0.05rem;
}
#home .btn-orange:hover, #home .btn-violet:hover{
    transform: scale(1.04);
}
#home .btn-violet{
    background: linear-gradient(to right,#BA99F0 40% ,#F3D9FF);
    font-size: 1.1rem;
    padding: 7px 10px;
    color: white;
    border-radius: 4px;
    transition: all ease-in 0.5s;
    border: white solid 0.7px;
    text-transform: uppercase;
    max-width: fit-content;
    letter-spacing: 0.05rem;
}
#home .stats{
    margin-top: 60px;
}
#home .stats .col-4{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    border-radius: 80px;
    padding: 20px;
    border: none;
    z-index: 1;
    position: relative;
}
#home .content .container .stats .col-4 div{
    width: 130px;
    height: 130px;
    background: radial-gradient(#a771ff7a , #4c00ff6e);
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: -7px;
    filter: blur(15px);
    z-index: 0;
}